<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    </head>
    <body>
        <h2>KNN Regression</h2>
        <form action="/submit" method="post">
            <label for="age">Age:</label><br>
            <input  type="text" id="age" name="age" value="0"><br>
            <label for="exp">Experience:</label><br>
            <input  type="text" id="exp" name="exp" value="0"><br>
            <button type="submit">Predict</button>
        </form>
        {% if exp and age %}
    <p class="centered">Predicted Salary: {{ prediction }}</p>
    {% endif %}
    </body>
</html>